<div class="row">
  <div class="col-12">
    <div class="card  ">
      <div class="card-body background-card ">


        <div class="col-6 mx-auto my-auto" style="height: 460px; padding-top: 125px; ">

          <h1 class="card-title  " style="color:#fff;"> ¿QUE ES CLOUD TECHNOLOGYS CENTER? </h1>
          <h5 class="card-subtitle" style="color:#fff">


            Es una empresa dedicada a satisfacer los requerimientos de los clientes,
            especializada en las TIC’S (Tecnologías de la información y comunicación),
            comparte asesorías, ofrece servicios y soluciones de Tecnología que permiten
            orientar a todas las empresas hacia la nueva arquitectura de CLOUD COMPUTING.
          </h5>

          <button [routerLink]="['/details']" type="button" class="btn  btn-lg btn-info"> Customer Management</button>
        </div>


      </div>
    </div>
  </div>
